.site-content {
	margin: 1.125rem auto;
	max-width: 74.25rem; // 1188px
	padding: 1.125rem; // 18px
}

.left-sidebar {
	.content-area {
		float: right;
		width: 73.4375%; // 846px;
	}

	.widget-area {
		float: left;
		width: 23.4375%; // 270px;
	}
}
